*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 20px;
  font-weight: 600;
  color: #001086;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b0d0ff;
}

.container {
  background-color: #ffffff;
  padding: 32px 52px;
  border-radius: 10px;
  box-shadow: 8px 8px 24px 0 #63a2ff;
  width: 100%;
  max-width: 400px;
  transition: 0.5s All ease-in-out;
}

.container:hover {
    box-shadow: 0px 0px 30px #773dffc6;
    background-image: linear-gradient(to right bottom, #e797ff, #a15dff, #a65dff);
}

.container:hover h1 {
    color: #ffffff;
}

.container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #6a00ff;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container form input {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #00032a;
  background-color: transparent;
  color: #000;
}

.container form input::placeholder {
  font-size: 12px;
  font-style: italic;
}

.container form input[value] {
  background-color: transparent;
}

button {
  padding: 12px 22px;
  font-size: 20px;
  font-weight: 600;
  background-color: #6a00ff;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 12px;
  transition: 0.5s All ease-in-out;
}

button:hover{
    box-shadow: 0px 0px 10px #2eb2ffe2;
  background-image: linear-gradient(45deg, #cd29ff, #6600ff, #8e32fe);
}

.container form span {
  font-size: 14px;
  text-align: center;
  color: #000657;
}

.container form span Link {
  color: #ff00ff;
  margin-left: 5px;
}